* {
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #f5ebe0;
    color: #6F4E37;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

a {
 color: #6F4E37;   
}


.header {
    text-align: center;
    padding: 20px;
    background: #6F4E37;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    padding: 22px 13px 0;
}


/* way to show 1 */
.menu-category {
    padding: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    padding: 10px;
    border-bottom: 1px dashed #ddd;
}

.item img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.price {
    color: #8b7355;
    font-weight: bold;
}

@media (max-width: 768px) {
    .item img {
        width: 80px;
        height: 80px;
    }
}

.menu-category-tow {
    /* padding: ; */
    margin-bottom: 15px;
    cursor: pointer;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.menu-category-tow .big-img {
    width: 100%;
    flex: 1;
}

.menu-category-tow .big-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-category-tow .item {
    align-items: center;
    padding: 0px 15px 19px 15px;
}

.install-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
    width: 100%;
}

#install-button {
    background: #6F4E37;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }
  
  #install-button:hover {
    background: #8b7355;
  }

footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #886d4c;
}

footer p a {
    text-decoration: underline;
}